@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="SendRestPasswordUrl">
            <input asp-for="Email" placeholder="Enter the email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <br />
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

@section ValidationScripts {
        <partial name="_ValidationScriptsPartial" />
}
