@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="ResetPassword">
            <input asp-for="Password" placeholder="Enter the new password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Enter the confirm password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <br />
            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>

@section ValidationScripts {
            <partial name="_ValidationScriptsPartial" />
}
