@model EmployeeDetailsToReturnDTO
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-5 w-75 m-auto">Department Details</h1>
     <partial name = "Partials/DetailsDeleteEmployeePartial"></partial>

