@model EmployeeToUpdateDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Action = "Edit";

}


<div class = "row justify-content-center align-content-center mt-3"> 
    <h1 class = "col-8 my-4 "> Edit Employee </h1>
    <partial name = "Partials/CreateEditEmployeePartial"></partial>
    
</div>


@section validationScripts {
      <partial name="_ValidationScriptsPartial"></partial>
}