@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class = "row justify-content-center align-content-center mt-3">

<h1 class="my-5 w-75 m-auto">Delete Role </h1>
     <partial name = "Partials/DetailsDeleteRolePartial"></partial>
</div>