@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class = "row justify-content-center align-content-center mt-3">
<h1 class="my-5 w-75 m-auto">Role Details</h1>
     <partial name = "Partials/DetailsDeleteRolePartial"></partial>

 </div> 
