@model DepartmentViewModel 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Action = "Create";
}

<div class = "row justify-content-center align-content-center mt-3"> 
    <h1 class = "col-8 my-4 "> Create Department </h1>
    <partial name = "Partials/CreateEditDepartmentPartial"></partial>
  
</div>

@section validationScripts{
    
    
    <partial name="_ValidationScriptsPartial"></partial>

}